html
  +vendor(box-sizing, border-box)
  +vendor(text-size-adjust, 100%)
  font-size: 100%

html, body
  width: 100%
  height: 100%
  position: relative

body
  +font-size($base-font-size)
  font-family: $sans-serif-font-typeface
  font-smooth: always

  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

*,
*:before,
*:after
  +vendor(box-sizing, inherit)

  // &::-webkit-selection
  //   background-color: $selection-background
  //   color: $selection-color
  //
  // &::-moz-selection
  //   background-color: $selection-background
  //   color: $selection-color
  //
  // &::selection
  //   background-color: $selection-background
  //   color: $selection-color

*:focus
  outline: none !important

a,
a:link,
a:active,
a:visited
  text-decoration: none
  border-bottom: 2px solid transparent

  &:hover,
  &:focus
    cursor: pointer
    text-decoration: none
    // border-bottom-color: #

img
  vertical-align: middle

  &.image-responsive
    max-width: 100%
    height: auto
    display: block

[hidden], .hidden
  display: none
  visibility: hidden

.invisible
  position: absolute
  width: 1px
  height: 1px
  margin: -1px
  padding: 0
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0

.invisible-focus
  &:active,
  &:focus
    position: static
    width: auto
    height: auto
    margin: 0
    overflow: visible
    clip: auto
