// — Screen sizes
$tiny-screen: 320px !default
$small-screen: 568px !default
$medium-screen: 768px !default
$large-screen: 1024px !default

$small-screen-min: $tiny-screen + 1 !default
$medium-screen-min: $small-screen + 1 !default
$large-screen-min: $medium-screen + 1 !default
$huge-screen-min: $large-screen + 1 !default

// — Font typefaces
$sans-serif-font-typeface: "Helvetica Neue", Helvetica, Arial, sans-serif !default
$serif-font-typeface: Georgia, "Times New Roman", Times, serif !default
$monospace-font-typeface: Menlo, Monaco, Consolas, "Courier New", monospace !default

// — Font sizes
$tiny-font-size: 10px !default
$small-font-size: 12px !default
$medium-font-size: 16px !default
$large-font-size: 24px !default
$huge-font-size: 40px !default

$base-line-height: 1.428571429 !default
$tiny-line-height: floor(($tiny-font-size * $base-line-height)) !default
$small-line-height: floor(($small-font-size * $base-line-height)) !default
$medium-line-height: floor(($medium-font-size * $base-line-height)) !default
$large-line-height: floor(($large-font-size * $base-line-height)) !default
$huge-line-height: floor(($huge-font-size * $base-line-height)) !default
